.adminProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.adminProduct__title {
    font-weight: 500;
    font-size: 20px;
}

.adminProduct__price {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.adminProduct__stock {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-bottom: 15px;
}

.adminProduct__outofstock {
    color: red;
}

.adminProduct__rating {
    display: flex;

}

.adminProduct > img {
    max-width: 200px;
    width: 200px;
    height: 200px;
    object-fit: contain;    
    margin-bottom:15px ;
}

.adminProduct > button {
    border: 1px solid;

}

